$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '~basscss/css/basscss-important.css';
@import '~flexboxgrid/css/flexboxgrid.css';
// can add Boostrap overrides, additional Sass/CSS below...
@import './util.scss';

$BOARD_WIDTH: 800px;
$CELL_WIDTH: $BOARD_WIDTH / 8;

$SELECTED_COLOR: #aad;
$HOVERED_COLOR: #ada;
$POTENTIAL_MOVE_COLOR: #dad;
$POTENTIAL_KILL_COLOR: #daa;
$PREVIOUSLY_MOVED_COLOR: #fbf;

a { color: white; }
.chess-board {
  width: $BOARD_WIDTH;
  background: green;
  > .chess-row {
    > .chess-cell {
      &.black { background: #888 }
      border: 1px solid black;
      background: white;
      height: $CELL_WIDTH;
      width: $CELL_WIDTH;
      &.potentialMove {
        background: $POTENTIAL_MOVE_COLOR;
      }
      &.potentialKill {
        background: $POTENTIAL_KILL_COLOR;
      }
    }
  }
}

.chesspiece  {
  font-size: $CELL_WIDTH / 1.5;
  margin-left: 18px;
  font-weight: 400;
  transition: all 0.5s ease 0s;

  border-radius: 50%;
  width: 98px;
  height: 98px;
  margin-left: auto;
  text-align: center;

  &.selected {
    color: white;
    background: $SELECTED_COLOR;
  }
  &.previousMoved {
    background: $PREVIOUSLY_MOVED_COLOR;
  }
  &.dead {
    display: none;
  }
  &:hover {
    background: $HOVERED_COLOR;
  }
}